body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-color: rgb(177, 166, 166);
}
main{
    background-size: cover;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}
nav ul li{
    display: inline-block;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    }
    /*ettől szines  a menü*/
a.active,a:hover{
    transition: 0,5s;
    background: rgb(86, 86, 238);
    }
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
.doboz{
    margin:auto;
    width: 200px;
}
.body{
    background: white;
}
.szoveg{
    padding: 20px;
    padding-left: 30px;
}
.szovegek{
    padding: 20px;
    padding-left: 30px;
}
.alja{
    padding-top: 1000px;
}
#check{
    display: none;
}
nav {
    padding-left: 0;
    background: #0082e6;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    padding: 0 100px;
    font-weight:bold ;
    line-height: 80px;
}
.section  {
    height: calc(100vh - 80px);
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 20px;
    margin-top: 40px;
    padding: 40px;
}
.section img{
    width: 100%;
    height: 400px;
    
}
.kepek {
    height: 300px;
    
    
}
/*kepek mozgása*/
.section .kepek :hover{
    width: 100%;
    height: auto;
    transition: 0,5sec;
}
@media screen and (max-width:500px)
{
   nav ul li{
        display: block;
        margin-bottom: 10px;
        

        
    }

    .section{
        max-width: 20%;
    }
    .kepek{
        height: auto;
    }    
    nav {
       left: 90%;
       height: 200px;
    }
    nav ul{
        float:left;
        margin-top: 20px;
    }
}